<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>보드챗</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="wrap">
            <div class="chat-header">
                <p class="title">보드챗</p>
            </div>
            <div class="chat-container">
                <div class="chat-wrap">
                    <div class="send">
                        <div class="left">
                            <div class="photo"></div>
                        </div>
                        <div class="right">
                            <p class="nickname">보드챗</p>
                            <p class="content">안녕하세요!<br>어떤 보드게임을 추천해드릴까요?</p>
                        </div>
                    </div>
                </div>
                <div class="chat-wrap">
                    <div class="receive">
                        <p class="content">재밌는거</p>
                    </div>
                </div>
            </div>
            <div class="chat-footer">
                <div class="input-wrap">
                    <input type="text" class="answer-input">
                    <button class="btn-send-msg">전송</button>
                </div>
            </div>
        </div>
    </body>
</html>